<template>
  <transition name="fade">
    <div class='user_courses_block'>

      <modal
        transition="scale"
        :adaptive="true"
        :draggable="true"
        :scrollable="true"
        :min-width="320"
        height="auto"
        width="60%"
        name="user_courses">
        <div class='card border-0'>
          <div class='card-header'>
            <div class="float-left">
              {{edit_id?'Update' :'Create'}} course
            </div>
            <div class="float-right">
              <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
            </div>
          </div>

          <div class='card-body popup_form'>
            <div class='row'>
              <div class='col-md-6'>
                <div class='form-group row'>
                  <label for='title' class='col-4 col-form-label text-md-right'>Course title</label>
                  <div class='col-md-8 Common_form_group'>
                    <input class="form-control"
                           type='text'
                           v-model='course.title'
                           name='title'
                           v-validate="'required'"
                           placeholder="course title"
                           id='title'/>
                    <span class='d-block text-danger'
                          v-show="errors.has('title')">{{ errors.first('title') }}</span>
                    <template v-if="this.fErrors && this.fErrors['title']">
                      <span class='d-block text-danger' v-for="error in this.fErrors['title']">{{ error}}</span>
                    </template>
                  </div>
                </div>

                <div class='form-group row'>
                  <label for='fee' class='col-4 col-form-label text-md-right'>Fee</label>
                  <div class='col-md-8 Common_form_group'>
                    <input class="form-control"
                           type='text'
                           v-model='course.fee'
                           name='fee'
                           v-validate="'required'"
                           placeholder="course fee"
                           id='fee'/>
                    <span class='d-block text-danger'
                          v-show="errors.has('fee')">{{ errors.first('fee') }}</span>
                    <template v-if="this.fErrors && this.fErrors['fee']">
                      <span class='d-block text-danger' v-for="error in this.fErrors['fee']">{{ error}}</span>
                    </template>
                  </div>
                </div>
              </div>

              <div class='col-md-6'>
                <div class='form-group row'>
                  <label for='starting_date' class='col-4 col-form-label text-md-right'>Starting
                    date</label>
                  <div class='col-md-8 Common_form_group'>
                    <input v-model='course.starting_date'
                           class="form-control"
                           type='date'
                           v-validate="'required|date_format:YYYY-MM-DD'"
                           ref="startDate"
                           data-vv-as="starting date"
                           name='starting date' id='starting_date'/>
                    <span class='d-block text-danger'
                          v-show="errors.has('starting_date')">{{ errors.first('starting date') }}</span>
                    <template v-if="this.fErrors && this.fErrors['starting date']">
                                            <span class='d-block text-danger'
                                                  v-for="error in this.fErrors['starting_date']">{{ error}}</span>
                    </template>
                  </div>
                </div>

                <div class='form-group row'>
                  <label for='education_level_id' class='col-4 col-form-label text-md-right'>Education
                    Level</label>
                  <div class='col-md-8 Common_form_group'>
                    <multiselect
                      id="education_level_id"
                      v-model="course.education_level"
                      :options="educationLevels"
                      placeholder="Select one"
                      tag-placeholder="append"
                      label="title"
                      :show-labels="false"
                      track-by="title"
                      :taggable="true"
                      @tag="addNewEducationLevelAction">
                    </multiselect>
                    <span class='d-block text-danger'
                          v-show="errors.has('valid_till')">{{ errors.first('valid_till') }}</span>
                    <template v-if="this.fErrors && this.fErrors['valid_till']">
                                            <span class='d-block text-danger'
                                                  v-for="error in this.fErrors['valid_till']">{{ error}}</span>
                    </template>

                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class='form-group row'>
                  <label for='description'
                         class='col-md-2 col-form-label text-md-right'>Description</label>
                  <div class='col-md-10 Common_form_group'>
                    <textarea class="form-control"
                              v-model='course.description'
                              name='description'
                              placeholder="course description"
                              rows="1"
                              id='description'>
                    </textarea>
                    <template v-if="this.fErrors && this.fErrors['description']">
                      <span class='d-block text-danger'
                            v-for="error in this.fErrors['description']">{{ error}}</span>
                    </template>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label for='description' class='col-md-2 col-form-label text-md-right'>Is Licence required</label>
                  <div class="col-md-4 licence-required Common_form_group">
                    <label class="radio-inline">
                      <input v-model="course.licence_required" type="radio" name="licence required" value="1"> Yes
                    </label>

                    <label class="radio-inline">
                      <input v-model="course.licence_required" type="radio" name="licence required" value="0"> No
                    </label>
                  </div>
                  <div class="col-md-6 Common_form_group">
                    <select v-model="course.licence_id" name="licence name" class="form-control">
                      <option value="">Licence Name</option>
                      <option v-for="licence in licences" :value="licence.id">{{licence.title}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label
                    class='col-md-2 col-form-label text-md-right'>Is This Online Course</label>
                  <div class="col-md-4 licence-required Common_form_group">
                    <label class="radio-inline">
                      <input v-model="course.online_course" type="radio" name="online_course required" value="1" @click="course.online_course = 1">Yes</label>
                    <label class="radio-inline">
                      <input v-model="course.online_course" type="radio" name="online_course required" value="0" @click="course.online_course = 0">No</label>
                  </div>
                  <div class="col-md-6 Common_form_group">
                  </div>
                </div>
              </div>
            </div>

            <div v-if="course.online_course == 1">
              <div class='form-group row'>
                <label for='online_url' class='col-2 col-form-label text-md-right'>Url</label>
                <div class='col-10 Common_form_group'>
                  <input class="form-control" type='text' v-model='course.online_url' name='online_url' v-validate="'required'" placeholder="http://">
                  <span class='d-block text-danger' v-show="errors.has('online_url')">{{ errors.first('online_url') }}</span>
                  <template v-if="this.fErrors && this.fErrors['online_url']">
                    <span class='d-block text-danger' v-for="error in this.fErrors['online_url']">{{ error}}</span>
                  </template>
                </div>
              </div>

              <div class='form-group row'>
                <label for='online_site_name' class='col-2 col-form-label text-md-right'>Site Name</label>
                <div class='col-10 Common_form_group'>
                  <input class="form-control" type='text' v-model='course.online_site_name' name='online_site_name' v-validate="'required'" placeholder="Site Name">
                  <span class='d-block text-danger' v-show="errors.has('online_site_name')">{{ errors.first('online_site_name') }}</span>
                  <template v-if="this.fErrors && this.fErrors['online_site_name']">
                    <span class='d-block text-danger' v-for="error in this.fErrors['online_site_name']">{{ error}}</span>
                  </template>
                </div>
              </div>

              <div class='form-group row'>
                <label for='online_course_image' class='col-2 col-form-label text-md-right'>Image</label>
                <div class='col-10 Common_form_group'>
                  <img v-if="course.online_course_image" :src="'/storage/uploads/images/'+course.online_course_image" width="150">
                  <div class="file-upload">
                    <div class="file-select">
                      <div class="file-select-button" id="fileName">Upload Image</div>
                      <div class="file-select-name" id="noFile">No file chosen...</div>
                      <input type="file" name="image" ref="image" v-on:change="handleFileImage()" accept="image/jpeg,image/png,image/*">
                    </div>
                  </div>
                </div>
              </div>

              <div class='form-group row'>
                <label for='online_course_video' class='col-2 col-form-label text-md-right'>Intro</label>
                <div class='col-10 Common_form_group'>
                  <video v-if="course.online_course_video" width='40%' controls :src="'/storage/uploads/videos/'+course.online_course_video"></video>
                  <div class="file-upload">
                    <div class="file-select">
                      <div class="file-select-button" id="fileIntroName">Upload Video</div>
                      <div class="file-select-name" id="noFileIntro">No file chosen...</div>
                      <input type="file" name="video" ref="video" v-on:change="handleFileVideo()" accept="'video/avi','video/mp4','video/mpeg','video/quicktime'">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="course.online_course == 0">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label for='description' class='col-md-2 col-form-label text-md-right'>Tuition service mode</label>
                    <div class="col-md-5 tuition-mode Common_form_group">
                      <div class="checkbox">
                        <label>
                          <input v-model="course.service_modes" type="checkbox" value="home"> Home
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input v-model="course.service_modes" type="checkbox" value="tuition"> Tuition Center
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input v-model="course.service_modes" type="checkbox" value="remote"> Remote
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-12'>
                <div class="d-flex justify-content-end mt-3">
                  <button v-if="!loading" class="btn btn-warning mr-3" @click="course={}">
                    Reset
                  </button>
                  <button v-if="!loading" class="btn btn-primary" @click="store">
                    Save
                  </button>
                  <button v-if="loading" class='btn btn-primary'>
                    <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </modal>

      <div class='card'>
        <div class='card-header'>
          <div class="float-left">
            My courses
          </div>
          <div class="float-right">
            <div v-if="isEditable" class='d-flex justify-content-end'>
              <button @click="openCourse" class="btn btn-primary"><i
                class='fa fa-plus'></i>
              </button>
            </div>
          </div>
        </div>
        <div class='card-body'>

          <div v-if="courses.length" class='table-responsive'>
            <table class='table table-bordered'>
              <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>Education Level</th>
                <th>Licence</th>
                <th>Mode</th>
                <th v-if="isEditable">action</th>
              </tr>
              <tr v-for="item in courses">
                <td>{{item.title}}</td>
                <td>{{item.starting_date}}</td>
                <td>
                  <template v-if="item.education_level">{{item.education_level.title}}</template>
                </td>
                <td>
                  <template v-if="item.licence">{{item.licence.title}}</template>
                </td>
                <td>
                  <template v-if="item.service_modes" v-for="service in item.service_modes">
                    {{service.mode}},
                  </template>
                </td>
                <td v-if="isEditable">
                  <button @click="editCourse(item.id)" class="btn btn-primary"><i
                    class='fas fa-pencil-alt'></i></button>
                  <button @click="deleteCourse(item.id)" class="btn btn-warning"><i
                    class='fa fa-trash'></i></button>
                </td>
              </tr>
            </table>
            <!-- /.table table-bordered -->
          </div>
          <h2 v-if="!courses.length" class="text-center">No course record found</h2>
        </div>
        <!-- /.card-body -->
        <!-- /.card-header -->
      </div>

    </div>
  </transition>
</template>
<script>
  import api from "../../config/api";
  import Multiselect from 'vue-multiselect'

  export default {
    components: {Multiselect},
    data() {
      return {
        course: {
          service_modes: [
            'home'
          ],
          licence_id: '',
          licence_required: 1,
          online_course: 0,
          online_url: '',
          online_site_name: '',
          online_course_image: '',
          online_course_video: '',
        },
        licences: {},
        courses: [],
        edit_id: '',
        loading: false,
        fErrors: {}
      }
    },
    mounted() {
      this.courseList();
      this.licenceList();
      if (!this.educationLevels.length) {
        this.$store.dispatch('setEducationLevelAction');
      }
    },
    methods: {
      store() {
        this.$validator.validateAll().then((valid) => {
          if (valid) {
            this.loading = true;
            if (this.edit_id) {
              this.updateCourse();
            } else {
              this.edit_id = '';
              this.postCourse();
            }
          }
        });
      },
      updateCourse() {
        if (this.course.online_course == 1) {
          this.course.service_modes = [];
        } else {
          this.course.online_url = '';
          this.course.online_site_name = '';
          this.course.online_course_image = '';
          this.course.online_course_video = '';
        }

        this.course.education_level_id = (this.course.education_level)?this.course.education_level.id:0;
        axios.put(api.course + '/' + this.edit_id, this.course).then(response => {
          this.loading = false;
          this.edit_id = '';
          this.course = {
            service_modes: [],
            licence_id: '',
            licence_required: 1
          };
          this.closeModal();
          this.courseList();
        }).catch(error => {
          if (error.response.data && error.response.data.errors) {
            this.fErrors = error.response.data.errors;
          }
          console.log(this.fErrors);
          this.loading = false;
        })

      },
      postCourse() {
        if (this.course.online_course == 1) {
          this.course.service_modes = [];
        } else {
          this.course.online_url = '';
          this.course.online_site_name = '';
          this.course.online_course_image = '';
          this.course.online_course_video = '';
        }

        this.course.education_level_id = 0;
        if (this.course.education_level) {
          this.course.education_level_id = this.course.education_level.id;
        }

        axios.post(api.course, this.course).then(response => {
          this.loading = false;
          this.course = {
            service_modes: [],
            licence_id: '',
            licence_required: 1
          };
          this.closeModal();
          this.courseList();
        }).catch(error => {
          if (error.response.data && error.response.data.errors) {
            this.fErrors = error.response.data.errors;
          }
          this.loading = false;
        })
      },
      courseList() {
        axios.get(api.course + '/' + this.$store.getters.profile_id).then(response => {
          this.courses = response.data;
        })
      },
      deleteCourse(id) {
        axios.delete(api.course + '/' + id).then(response => {
          this.courseList();
        })
      },
      editCourse(id) {
        let course = this.courses.find(course => course.id === id);

        this.course = {...course};
        if (this.course.service_modes.length > 0) {
          this.course.service_modes.forEach((value, key) => {
            this.course.service_modes[key] = value.mode ? value.mode : ''
          })
        }
        this.edit_id = course.id;
        this.openCourse();
      },

      openCourse() {
        this.$modal.show('user_courses');
      },
      closeModal() {
        this.$modal.hide('user_courses');
        this.edit_id = '';
      },
      addNewEducationLevelAction(newEducationLevel) {
        this.$store.dispatch('addNewEducationLevelAction', {title: newEducationLevel})
      },
      licenceList() {
        axios.get(api.licence + '/' + this.$store.getters.profile_id).then(response => {
          this.licences = response.data;
        })
      },
      handleFileImage() {
          this.image = this.$refs.image.files[0];
          this.uploadImage(this.image)
      },
      uploadImage(image){
          let formData = new FormData();
          formData.append('file', image);

          axios.post(api.course + '/image', formData).then(res => {
              if (res.data) {
                this.course.online_course_image = res.data.image.filename;
              }
          }).catch(error => {

          });
      },
      handleFileVideo() {
          this.video = this.$refs.video.files[0];
          this.uploadVideo(this.video)
      },
      uploadVideo(video){
          let formData = new FormData();
          formData.append('file', video);

          axios.post(api.course + '/video', formData).then(res => {
              if (res.data) {
                  this.course.online_course_video = res.data.video.filename;
              }
          }).catch(error => {

          });
      },

    },
    computed: {
      isEditable() {
        return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
      },
      requireIf() {
        return !this.course.continue ? 'required' : '';
      },
      educationLevels() {
        return this.$store.getters.educationLevels;
      }
    },
  }
</script>
<style>
  .multiselect__tags {
    padding: 4px 26px 0 4px;
  }

  .licence-required {
    padding-top: 8px;
  }

  .tuition-mode {
    padding-top: 10px;
  }
</style>
