<template>
    <div>
        <headers :userId="userId"></headers>
        <router-view></router-view>
    </div>
</template>

<script>
    import Headers from "../../components/common/Headers";
    export default {
        components: {Headers},
        props: ['userId'],
        name: "HomePage"
    }
</script>
