<template>
    <div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <img :src="tweet.user_image" v-if="tweet.user_image.length > 1"/>
        <img src="../../../../../images/analysis5.png" v-else="" alt="">
        <h2>{{tweet.user_name}}
            <a href="">@{{tweet.user_handle}}</a>
        </h2>
        <p>{{tweet.text}}</p>
        <div class="message-btn">
            <div class="message-sent">
                <span>
                    <b-button class="btn btn-sm btn-primary" @click="replyModalShow =! replyModalShow">Reply</b-button>
                    <b-modal v-model="replyModalShow" @ok="reply" title="Reply"><textarea v-model="replyMsg" rows="7" cols="75"></textarea></b-modal>
                </span>
                <span>
                    <b-button class="btn btn-sm btn-info" @click="reTweetModalShow =! reTweetModalShow">Retweet</b-button>
                    <b-modal v-model="reTweetModalShow" @ok="reTweet" title="Retweet"><textarea v-model="reTweetmsg" rows="7" cols="75"></textarea></b-modal>
                </span>
                <!-- <span>
                    <b-button class="btn btn-sm btn-warning" @click="modalShow =! modalShow">Send Inbox Message</b-button>
                    <b-modal v-model="modalShow" @ok="directMessage" title="Send message"><textarea v-model="directMsg" rows="7" cols="75"></textarea></b-modal>
                </span> -->
            </div>
            <span>{{tweet.date}}</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "tweet",
        props: ["tweet"],
        data(){
            return{
                replyModalShow: false,
                replyMsg: '',
                reTweetModalShow: false,
                reTweetmsg: '',
                modalShow: false,
                directMsg: ''
            }
        },
        methods: {
            sendMessage() {
                console.log(this.tweet);
                axios.post('/twitter/send-message', {
                    id: this.tweet.user.id,
                    screen_name: this.tweet.user.screen_name,
                    message: 'hello'
                }).then(res => {
                    console.log(res.data);
                });
            },
            reply(){
                if ( this.replyMsg != '' ) {
                    axios.post('/twitter/reply', {
                        id: this.tweet.id,
                        screen_name: this.tweet.user.screen_name,
                        message: this.replyMsg
                    }).then(res => {
                        toastr.success('Successfully Replied!');
                    }).catch(error => {
                        toastr.error('Status is a duplicate.');
                    });
                }
            },
            reTweet(){
                if ( this.reTweetmsg != '' ) {
                    axios.post('/twitter/retweet', {
                        postId: this.tweet.id,
                        message: this.reTweetmsg
                    }).then(res => {
                        toastr.success('Successfully Retweeted!');
                    }).catch(error => {
                        console.log(error);
                        toastr.error('You have already retweeted this Tweet.');
                    });
                }
            },
            directMessage(){
                if ( this.directMsg != '' ) {
                    axios.post('/twitter/send-message', {
                        id: this.tweet.user.id,
                        screen_name: this.tweet.user.screen_name,
                        message: this.directMsg
                    }).then(res => {
                        toastr.success('Message Sent!');
                    }).catch(error => {
                        toastr.error('You need to follow this user to sent message.');
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>
