<template>
    <section>
        <div class="banner_area student_banner text-center">
            <h2>
                <span>{{(user.role)?user.role.title:''}} </span>
            </h2>
        </div>

        <div class="container">
            <div class="profile-body">

                <h3>{{user.name}}</h3>
                <!-- Student & Teacher -->
                <div class="row" v-if="user.role_id!==3">
                    <div class="col-sm-3">
                        <img :src="user.avater" alt="">
                    </div>
                    <div class="col-sm-5">
                        <template>
                            <p v-if="user.educations && user.educations.length">
                              <strong>{{user.educations[0].title}}</strong><br>
                              <span v-if="user.educations[0].institute" v-html="user.educations[0].institute.title+'<br>'"></span>
                              Grade Year: {{user.educations[0].completion_date|moment("YYYY")}}
                              <span v-if="user.educations[0].education_level" v-html="'<br>Level: '+user.educations[0].education_level.title"></span>
                            </p>
                            <p>
                              <span v-if="user.address">
                                {{user.address.address}}, {{user.address.city}}, {{(user.address.country)?user.address.country.title:''}}
                                <br>
                              </span>
                              <a :href="'mailto:'+user.email">{{user.email}}</a>
                            </p>
                        </template>
                    </div>
                    <div class="col-sm-4" v-if="user.role_id==4">
                        <h3>Licenses</h3>
                        <div class="academicBox">
                            <span v-if="user.licences && user.licences.length">
                              <h5 v-if="user.licences[0]">{{ user.licences[0].title }}</h5>
                              {{ user.licences[0].authority }}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4" v-else>
                        <h3>Academic Standing</h3>
                        <div class="academicBox">
                            <h4 v-if="user.educations && user.educations.length">
                              {{ user.educations[0].grade }} Grade in {{ user.educations[0].title }}
                            </h4>
                        </div>
                    </div>
                </div>

                <!-- School -->
                <div class="row" v-if="user.role_id===3">
                    <div class="col-sm-3">
                        <img :src="user.avater" alt="">
                    </div>
                    <div class="col-sm-5">
                        <template>
                            <p v-if="user.institute">
                              <strong>{{user.institute.title}}</strong><br>
                              {{ (user.institute.education_level)?user.institute.education_level.title:''}}<br>
                              {{ user.institute.phone}}<br>
                              <a :href="'mailto:'+user.institute.email">{{user.institute.email}}</a>
                            </p>
                        </template>
                    </div>
                    <div class="col-sm-4">
                        <div class="academicSchoolBox">
                            <template v-if="user.institute_author">
                                <h4 v-if="user.institute_author.department">
                                    {{user.institute_author.department.title}}
                                </h4>
                                <h5 v-if="user.institute_author.institute_role">
                                    {{user.institute_author.institute_role.title}}
                                </h5>

                                {{user.institute_author.name}}<br>
                                {{user.institute_author.phone}}, {{user.institute_author.mobile}}<br>
                                <a :href="'mailto:'+user.institute_author.email">{{user.institute_author.email}}</a>
                            </template>
                        </div>
                    </div>
                </div>

                <!-- Student & Teacher -->
                <div class="row margin-top" v-if="user.profile_options && user.profile_options.length">
                    <div class="col-sm-12">
                        <h4><i class="fa fa-user color-orange"></i> Background</h4>
                        <div class="box">
                            <div class="row">
                                <div class="col">
                                    <strong>Gender:</strong>
                                      <span :key="index" v-for="(pro, index) in user.profile_options">
                                          <span v-if="pro.option_key=='gender'">{{pro.option_value}}</span>
                                      </span>
                                </div>
                                <div class="col">
                                    <strong>Age:</strong>
                                    <span :key="index" v-for="(pro, index) in user.profile_options">
                                        <span v-if="pro.option_key=='date_of_birth'">{{ birthAge(pro.option_value) }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Student & Teacher -->
                <div class="row margin-top" v-if="user.educations && user.educations.length">
                    <div class="col-sm-12">
                        <h4><i class="fa fa-book-open color-orange"></i> Education</h4>
                        <div class="box">
                            <div class="row education" :key="index" v-for="(edu, index) in user.educations">
                                <div class="col-12 padding-left" v-if="user.role_id===4">
                                    <div v-if="edu.institute">
                                      <span v-if="edu.education_level">{{edu.education_level.title}}</span>
                                      ({{ edu.title }})
                                    </div>
                                    <div v-if="edu.institute">{{edu.institute.title}}</div>

                                    <div class="color-blue"><span>{{yearFormat(edu.completion_date)}}</span></div>
                                    <!-- <div>Grade: {{ edu.grade}}</div> -->
                                </div>
                                <div class="col-11 padding-left" v-else>
                                    <div v-if="edu.institute">{{ edu.title }} <span v-if="edu.education_level"><strong> {{edu.education_level.title}}</strong></span></div>
                                    <div class="color-blue" v-if="edu.institute">{{edu.institute.title}}</div>

                                    <div class="color-orange"><span>{{monthFormat(edu.completion_date)}}</span></div>
                                    <div>Grade: {{ edu.grade}}</div>
                                </div>
                                <div class="col-12"><hr></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Student -->
                <div class="row margin-top" v-if="user.ielts && user.ielts.length">
                    <div class="col-sm-12">
                        <h4><i class="fa fa-book-reader color-orange"></i> IELTS and TOFEL</h4>
                        <div class="box">
                            <div class="row education" :key="index" v-for="(ilt, index) in user.ielts">
                                <div class="col-12 padding-left">
                                    <div v-if="ilt.exam_level"><strong>{{ilt.exam_level.title}}</strong></div>
                                    <div class="color-blue">Taken On: <span>{{localTime(ilt.taken_on)}}</span></div>
                                    <div class="color-orange">Score: {{ilt.score}}</div>
                                    <div>Grade: {{ilt.grade}}</div>
                                </div>
                                <div class="col-12"><hr></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Student -->
                <div class="row margin-top" v-if="user.interests && user.interests.length">
                    <div class="col-sm-12">
                        <h4><i class="fa fa-angle-double-up color-orange"></i> Major or Career Interests</h4>
                        <div class="box">
                            <div class="row">
                                <div class="col-6" :key="index" v-for="(int, index) in user.interests">
                                    <strong>{{int.title}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Teacher -->
                <div class="row margin-top" v-if="user.experiences && user.experiences.length">
                    <div class="col-sm-12">
                        <h4><i class="fa fa-award color-orange"></i> Experience</h4>
                        <div class="box">
                            <div class="row education" :key="index" v-for="(exp, index) in user.experiences">
                                <div class="col-12 padding-left">
                                    <h4>{{exp.title}}</h4>
                                    <h4 v-if="exp.institute">{{exp.institute.title}}</h4>
                                    <div class="color-blue">({{ diffYears(exp.to_date, exp.from_date) }}) {{ (exp.continue>0)?'Presently working here':'' }}</div>
                                </div>
                                <div class="col-12"><hr></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Teacher -->
                <div class="row margin-top" v-if="user.courses && user.courses.length">
                    <div class="col-sm-12">
                        <h4><i class="fa fa-book-reader color-orange"></i> Course</h4>
                        <div class="box">
                            <div class="row education" :key="index" v-for="(cors, index) in user.courses">
                                <div class="col-12 padding-left">
                                    <div><strong>{{cors.title}}</strong> <span class="pull-right color-orange" v-if="cors.fee">({{cors.fee}})</span></div>
                                    <!-- <div v-if="cors.education_level">{{cors.education_level.title}}</div> -->
                                    <div class="color-blue" v-if="cors.starting_date">Staring date: {{dateFormat(cors.starting_date)}}</div>
                                    <div class="clear">&nbsp;</div>

                                    <div>{{cors.description}}</div>

                                    <div class="row" v-if="cors.service_modes && cors.service_modes.length">
                                        <div class="pull-left" style="margin: 0 15px;"><strong>Services:</strong></div>
                                        <div class="pull-left" style="margin-right: 15px;" :key="index" v-for="(mod, index) in cors.service_modes">
                                            <strong>
                                              <i v-if="mod.mode=='home'" class="fa fa-home"></i>
                                              <i v-else-if="mod.mode=='tuition'" class="fa fa-chalkboard-teacher"></i>
                                              <i v-else-if="mod.mode=='remote'" class="fa fa-map-marker-alt"></i>
                                              {{mod.mode}}
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12"><hr></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- School -->
                <div class="row margin-top" v-if="user.institute">
                    <div class="col-sm-12" v-if="user.institute.programs && user.institute.programs.length">
                        <h4><i class="fa fa-book-reader color-orange"></i> Course</h4>
                        <div class="box">
                            <div class="row education" :key="index" v-for="(prog, index) in user.institute.programs">
                                <div class="col-12 padding-left">
                                    <div><strong>{{prog.title}}</strong> <span class="pull-right color-orange" v-if="prog.fee">({{prog.fee}})</span></div>
                                    <!-- <div v-if="prog.education_level">{{prog.education_level.title}}</div> -->
                                    <div>{{(prog.address)?prog.address.address:''}}</div>
                                    <div class="color-blue" v-if="prog.admission_date">Admission On: {{dateFormat(prog.admission_date)}}</div>
                                    <div class="clear">&nbsp;</div>

                                    <div>{{prog.description}}</div>

                                    <div class="row" v-if="prog.service_modes && prog.service_modes.length">
                                        <div class="col-6" :key="index" v-for="(mod, index) in prog.service_modes">
                                            <strong>{{mod.mode}}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12"><hr></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- School -->
                <div class="row margin-top" v-if="user.school_address && user.school_address.length">
                    <div class="col-sm-12">
                        <h4><i class="fa fa-home color-orange"></i> Branch</h4>
                        <div class="box">
                            <div class="row education" :key="index" v-for="(add, index) in user.school_address">
                                <div class="col-12 padding-left">
                                    {{add.address}}, {{add.city}} {{(add.country)?', '+add.country.title:''}}
                                </div>
                                <div class="col-12"><hr></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from "../config/api";
    import jsMoment from 'moment';

    export default {
        data() {
            return {
                user: {},
                APP_URL: window.APP_URL
            }
        },

        created() {
            this.userDetails();
        },
        methods: {
            localTime(create) {
                return this.$moment.utc(create).local().fromNow();
            },
            birthAge(value) {
                return jsMoment().diff(value, 'years')
            },
            dateFormat(value) {
              return jsMoment(String(value)).format('DD/MMM/YYYY');
            },
            monthFormat(value) {
              return jsMoment(String(value)).format('MMM/YYYY');
            },
            yearFormat(value) {
              return jsMoment(String(value)).format('YYYY');
            },
            diffYears(bigDate, smallDate) {
              console.log(bigDate);
              bigDate = (bigDate!=null)?jsMoment(String(bigDate)):jsMoment();
              let year = bigDate.diff(jsMoment(String(smallDate)), 'years', true).toFixed(1);

              let yearArr = year.split('.')

              var exp = '';

              if (yearArr[0]>0) {
                exp += yearArr[0]+' Year';
                exp += (yearArr[0]>1)?'s':'';
                if (yearArr[1]>0) {
                  exp += ' And ';
                  exp += yearArr[1]+' month';
                  exp += (yearArr[1]>1)?'s':'';
                }
              } else {
                exp += yearArr[1]+' month';
                exp += (yearArr[1]>1)?'s':'';
              }
              return exp;
            },
            userDetails() {
                axios.get(api.userPublicProfile + this.$route.params.userName)
                    .then(res => {
                        this.user = res.data;
                    })
            }
        }
    }
</script>

<style scoped>
    .student_left_author img{
        max-height: 211px;
        max-width: 211px;
    }

</style>
