<template>
    <div class="custom_Connection_area list_connection_area">

        <h2>Search For: {{key}}</h2>

        <template v-if="results.length">
                <search-result :results="results"></search-result>
                <pagination @fetch="fetch" :pagination="pagination_data"></pagination>
        </template>

        <template v-if="results.length == 0 && !fetching">
            <h3 class="text-center p-40">No search result found</h3>
        </template>

    </div>
</template>

<script>
    import Navigation from "../components/finds/common/Navigation";
    import Pagination from "../components/common/Pagination";
    import api from "../config/api";
    import SearchResult from "../components/common/SearchResult";
    import axios from 'axios'

    export default {
        components: {SearchResult, Pagination, Navigation},
        data() {
            return {
                results: [],
                pagination_data : {},
                key : '',
                fetching : false
            }
        },
        methods: {
            searchList(key , page) {
                let self = this;
                this.fetching = true;
                 axios.get(api.globalSearch + '/' + key + '?page=' + page ).then(res => {

                     self.results = res.data.data;
                     self.pagination_data = res.data;
                     self.fetching = false;
                 }).catch(e => {
                     console.log('err : ' , e);
                 })
            },
            fetch(page){
                this.searchList(this.key , page);
            }
        },
        created(){
            if(this.$route.params.key){
                let current_page = 1;
                this.key = this.$route.params.key;

                // do we have a page number in url
                if(this.$route.query.page && Number(this.$route.query.page)){
                    current_page = Math.round(this.$route.query.page)
                }

                // do this page has
                this.searchList(this.$route.params.key , current_page)
            }



        },
        mounted(){

            window.events.$on('fetchSearch' ,  key => {
                this.searchList(key , 1);
            })
        }
    }
</script>

