<template>
    <section class="student_timeline_area">
       <right-side-chat-box></right-side-chat-box>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <timeline-leftside></timeline-leftside>
                </div>

                <div class="col-md-6">
                    <div class="student_main_timeline">
                        <post-form @addPost="addPost"></post-form>
                        <ul class="student_timeline_list clearfix" v-if="posts.length">
                            <template v-for="post in posts">
                                <single-post :post="post"></single-post>
                            </template>
                        </ul>
                        <div class="text-center" v-else>No posts available</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <friend-suggestion></friend-suggestion>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import SinglePost from "../components/timeline/SinglePost";
    import PostForm from "../components/timeline/PostForm";
    import api from "../config/api";
    import RightSideChatBox from "../components/common/RightSideChatBox";
    import FriendSuggestion from "../components/common/FriendSuggestion";
    import TimelineLeftside from "../components/common/TimelineLeftside";

    export default {
        components: {RightSideChatBox, PostForm, SinglePost, FriendSuggestion, TimelineLeftside},
        data() {
            return {
                posts: [],
                APP_URL: window.APP_URL
            }
        },
        created() {
            axios.get(api.postInTimeLine).then(res => {
                this.posts = res.data.data;
            });
        },
        methods: {
            addPost(data) {
                this.posts.unshift(data);
                this.postCount++;
            }
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        },

    }
</script>

<style scoped>

</style>
