<template>
  <div class="row">
    <div class="col-sm-12">
      <h2>Location details</h2>
    </div>
    <div class="col-sm-6">
      <div class="form-group Common_form_group">
        <select v-model="location.region" name="region" class="form-control">
          <option value="">All Region</option>
          <option :key="region.id" v-for="region  in regions" :value="region.id">{{region.title}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group Common_form_group">
        <Multiselect
          v-if="countries.length"
          @input="getStates"
          v-model="country"
          :options="countries"
          placeholder="All country"
          :show-labels="false"
          label="title"
          track-by="id">
        </Multiselect>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group Common_form_group">
        <Multiselect
          v-if="states.length"
          v-model="state"
          :options="states"
          placeholder="All state"
          :show-labels="false"
          @input="setState"
          label="title"
          track-by="id">
        </Multiselect>
      </div>
    </div>


  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect';
  import api from "../../../config/api";

  export default {
    components: {Multiselect},
    data() {
      return {
        location: {
          region: 4
        },
        country: {id: null, title: "All country"},
        states: [],
        state: {id: null, title: "All State"},
      }
    },

    computed: {
      countries() {
        if (this.location.region) {
          this.country = this.$store.getters.countriesByRegion(this.location.region)[35];
          self = this;
          setTimeout(function () {
            self.getStates();
          }, 3000);
          return this.$store.getters.countriesByRegion(this.location.region);

        } else {
          return this.$store.getters.countries;
        }
      },
      regions() {
        return this.$store.getters.regions;
      }
    },
    mounted() {

      if (!this.countries.length) {
        this.$store.dispatch('countryListAction');
      }
      if (!this.regions.length) {
        this.$store.dispatch('regionListAction');
      }
      this.getGeoInfo();


    },

    methods: {
      getStates() {
        this.location.country = this.country ? this.country.id : '';
        if (this.country && this.country.id) {
          axios.get(api.states + '/country/' + this.country.id).then(res => {
            this.states = res.data;
            this.states.unshift({'id': null, title: "All State"});
          })
        }
      },
      setState() {
        this.location.state = this.state ? this.state.id : '';
      },
      getGeoInfo() {
        let instance = axios.create();
        instance.defaults.headers.common = {};
        instance.get('https://ipapi.co/json').then(res => {
          this.location.lat = res.data.latitude;
          this.location.lng = res.data.longitude;
        })
      }
    }
  }
</script>

<style scoped>
  .multiselect__tags {
    background: #f6f6f6;
    border: none;
    border-bottom: 2px solid #000000 !important;
  }

  .multiselect__input, .multiselect__single {
    background: #f6f6f6 !important;

  }

  .multiselect__content-wrapper {
    z-index: 500 !important;
  }
</style>
