<template>
    <div class="student_timeline_inner_box student_timeline_inner_box_tab">
        <div class="timeline_main_post clearfix">

            <main class="tab-main">
                <input id="tab1" type="radio" name="tabs" @click="postText=true" checked>
                <label for="tab1"><i class="fa fa-edit"></i> Make Post</label>

                <input id="tab2" type="radio" name="tabs" @click="postText=false">
                <label for="tab2"><i class="fa fa-video"></i> Make Video Post</label>

                <section id="content1" v-if="postText">
                    <form @submit.prevent="postTimeLine">
                        <template v-if="postText">
                            <!-- <img class="author-image" :src="APP_URL+'/images/author.jpg'" /> -->
                            <img class="author-image" :src="auth.avater" />
                            <textarea name="post" id=""
                                    cols="30"
                                    rows="10"
                                    class="form-control w-on-your-mind"
                                    v-validate="'required'"
                                    placeholder="What’s on your mind?" v-model.trim="body">
                            </textarea>
                            <div id="image_wrapper" v-if="images.length > 0">
                                <span class="image_span" v-for="image in images" :key="image.id">
                                    <img :src="FILE_PATH+'/bulk/'+image.filename" alt="image">
                                    <i class="fa fa-times" @click="removePhoto(image)"></i>
                                </span>
                            </div>
                            <div class="file-upload post-image-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">Choose File</div>
                                    <div class="file-select-name" id="noFile">No file chosen...</div>
                                    <input name="image"
                                        id="chooseFile"
                                        v-on:change="handleImageFileChange()"
                                        accept="image/jpeg,image/png,image/*"
                                        ref="file"
                                        placeholder=""
                                        type="file">
                                </div>
                            </div>
                        </template>
                        <div class="btn-wrapper">
                            <a id="photo-button" href="Javascript:void(0)" class="photo-btn" @click="photoClickEvent"><i class="fa fa-image"></i> Photo</a>
                            <!-- <a href="Javascript:void(0)" class="file-btn"><i class="fa fa-copy"></i> File</a> -->
                            <button class="submit" type="submit" :disabled="disablePostSubmit">post</button>
                        </div>
                    </form>
                </section>

                <section id="content2" v-if="postText == false">
                    <form @submit.prevent="postTimeLine">
                        <template>
                            <div class="form-group image-div">
                                <input id="image_upload"
                                    name="video"
                                    @change="handleFileChange()"
                                    accept="video/mp4,video/x-m4v,video/*"
                                    ref="file"
                                    type="file">
                                <label id="image_upload_label" for="image_upload">
                                    <i class="fa fa-file-video-o" aria-hidden="true"></i> Upload a Video
                                </label>
                            </div>
                            <div v-if="file"
                                class='form-group left-padding'>
                                <p>{{file.name}}
                                    <span @click="removeFile" class="span_times">
                                        <i class='fa fa-times'></i>
                                    </span>
                                </p>
                            </div>
                            <div>
                                <span class='d-block text-danger' v-show="errors.has('video')">{{ errors.first('video') }}</span>


                                    <span v-if="this.formErrors['file']" class='d-block text-danger'>
                                        {{ this.formErrors['file'][0] }}
                                    </span>

                            </div>
                            <div class='form-group mt-4'>
                                <input v-model.trim="body"
                                    type='text'
                                    class='form-control left-padding'
                                    name='title'
                                    id='video_title'
                                    placeholder="What’s on your mind?"/>
                                <span class='d-block text-danger' v-show="errors.has('title')">{{ errors.first('title') }}</span>
                                <span v-if="this.formErrors['body']" class='d-block text-danger'>
                                        {{ this.formErrors['body'][0] }}
                                    </span>
                            </div>
                        </template>
                        <div class="btn-wrapper">
                            <!-- <a href="Javascript:void(0)" class="photo-btn">Photo / Video</a>
                            <a href="Javascript:void(0)" class="file-btn">File</a> -->
                            <button class="submit" type="submit" :disabled="disableMediaSubmit">post</button>
                        </div>
                    </form>
                </section>
            </main>
        </div>
    </div>
</template>

<script>
    import api from "../../config/api";

    export default {
        data() {
            return {
                body: '',
                postText: true,
                file: '',
                loading: false,
                formErrors: {},
                uploadPercentage: 0,
                imageFile: '',
                images: [],
                APP_URL: window.APP_URL,
                FILE_PATH: window.FILE_PATH
            }
        },
        computed  :{
            disableMediaSubmit(){
                if(this.body.length > 0 || this.file !== '')
                    return false;

                return false;
            },
            disablePostSubmit(){
                if(this.body.length > 0 )
                    return false;

                return false;
            },
            auth() {
                return this.$store.getters.authUser;
            }
        },
        methods: {
            postTimeLine() {
                this.formErrors = {};
                if (this.postText) {
                    axios.post(api.postInTimeLine,
                    {
                        body: this.body,
                        postImages: this.images
                    })
                    .then(res => {
                        this.$emit('addPost', res.data);
                        this.body = '';
                        this.images = [];
                        $('.post_image_tag').remove();
                        $("#chooseFile").val("");
                    })
                    .catch(error => {
                        toastr.error(error.response.data.message);
                    });
                } else {
                    let formData = new FormData();
                    formData.append('file', this.file);
                    formData.append('body', this.body);
                    this.loading = true;
                    axios.post(api.postInTimeLine + '/video', formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            },
                            onUploadProgress: (load) => {
                                this.uploadPercentage = parseInt(Math.round((load.loaded * 100) / load.total));
                            }
                        }
                    ).then(res => {
                        this.$emit('addPost', res.data);
                        this.body = '';
                        this.file = '';
                    }).catch(err => {
                        if (err.response.data && err.response.data.errors) {
                            this.formErrors = err.response.data.errors;
                        }
                    });
                }
            },
            handleFileChange() {
                this.file = this.$refs.file.files[0];
                this.formErrors = {};
            },
            removeFile() {
                this.file = '';
            },
            photoClickEvent(){
                $('#chooseFile').val('');
                $('#chooseFile').trigger('click');
            },
            handleImageFileChange() {
                this.imageFile = this.$refs.file.files[0];
                this.uploadPostImage(this.imageFile);
            },
            uploadPostImage(file) {
                var _this = this;
                let formData = new FormData();
                formData.append('file', file);

                axios.post(api.postInTimeLine + '/image', formData)
                .then(res => {
                    if (res.data.success === true) {
                        _this.images.push(res.data.message);
                    }
                }).catch(error => {
                    toastr.error('Photo did not upload!');
                });
            },
            removePhoto(item) {
                var index = this.images.indexOf(item);
                if (index !== -1) {
                    this.images.splice(index, 1);
                }
            }
        }
    }
</script>

<style scoped>
img {
        max-width: 45px;
        max-height: 45px;
    }

    .d-block{
        margin-left: 30px;
    }

    button:disabled,
    button[disabled]{
        background-color: #cccccc;
    }
</style>
