<template>
<div>

    <div class="header_top clearfix">
        <div class="container sm-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header_top_left float-xl-left float-lg-left float-md-none float-sm-none float-xs-none">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="header_top_right float-xl-right float-lg-right float-md-none float-sm-none float-xs-none" v-if="auth">
                        <div class="header_top_right_nav">
                            <ul class="nav">
                                <li class="nav-item xs-right">
                                  <router-link to="/notifications" class="nav-link notification">
                                   <i class="fa fa-bell text-white" aria-hidden="true"> </i><span id="notification-number" v-if="count">{{count}}</span>
                                   </router-link>

                                </li>

                                <li class="nav-item xs-right">

                                  <a href="#" class="nav-link"> <i class="fa fa-search text-white" @click=openSearch aria-hidden="true"></i> </a>


                                </li>
                                <li class="nav-item">
                                   <a href="tel:+16465996079" class="nav-link"> <i class="fa fa-phone" aria-hidden="true"></i> +1 (646) 599-6079</a>
                                </li>
                                <li class="nav-item">
                                    <a href="mailto:admin@woostudy.com" class="nav-link"> <i class="fa fa-envelope" aria-hidden="true"></i> admin@woostudy.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>

            </div>
        </div>
    </div>

    <header v-if="auth">

      <nav class="navbar navbar-expand-lg navbar-light  static-top header_area" style="background-color: #f3f2ed !important;">
          <div class="container header_area_container">
              <router-link class="navbar-brand" to="/">
                  <img src="../../../images/logo.png" alt="">
              </router-link>

             <!--  <span class="nav-icon-md d-lg-none d-xl-none">
                  <a href="#"><i class="fas fa-search" @click=openSearch></i></a>
                  <router-link to="/notifications">
                      <i class="fas fa-bell"></i> <span v-if="count">{{count}}</span>
                  </router-link>
              </span> -->

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav">
                      <li class="nav-item active">
                          <router-link class="nav-link" to="/home">Home</router-link>
                      </li>

                      <li class="nav-item">
                          <router-link class="nav-link" :to="'/profile/'+auth.user_name">Profile</router-link>
                      </li>
                      <li class="nav-item">
                          <router-link class="nav-link" :to="(auth.role_id===api.SCHOOL_ROLE?{name:'Find Student'}:
                                  (auth.role_id===api.STUDENT_ROLE?{name:'Find Institute'}:
                                  {name:'Find Tutors'}))">Connections
                          </router-link>
                      </li>
                      <li class="nav-item">
                          <router-link class="nav-link" to="/chatting">Chat</router-link>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Blog</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">About Us</a>
                      </li>
                  </ul>

                  <ul class="navbar-nav ml-auto">
                      <!-- <li class="nav-item nav-icon d-none d-lg-block"><a href="#"><i class="fas fa-search" @click=openSearch></i></a></li>
                      <li class="nav-item nav-icon d-none d-lg-block">
                          <router-link to="/notifications">
                              <i class="fas fa-bell"></i> <span v-if="count">{{count}}</span>
                          </router-link>
                      </li> -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle last-li" href="#" id="navbarDropdown" role="button"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          My account
                            <img :src="auth.avater" class="profile-image"  width="50"  height="50" alt="">
                          </a>
                          <div class="dropdown-menu custom-drop-down" aria-labelledby="navbarDropdown">
                              <router-link class="dropdown-item" :to="'/my-connections'">My Connection</router-link>
                              <router-link class="dropdown-item" :to="'/profile/'+auth.user_name">Account</router-link>
                              <router-link class="dropdown-item" :to="'/change-password'">Setting</router-link>
                              <a href="#" class="dropdown-item" @click=logout>Logout</a>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>

    </header>

    <div id="myOverlay" class="overlay">
        <span class="closebtn" title="Close Search" @click=closeSearch>×</span>
        <div class="overlay-content">
            <input type="text" placeholder="Search.." v-model="search" name="search" id="search">
            <button @click=searchFind><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>
</template>

<script>
    import api from "../../config/api";

    export default {
        name: "Headers",
        props: ['userId'],

        data() {
            return {
                api: api,
                auth: window.auth,
                search: '',
                SOCKET_NAME: window.SOCKET_NAME,
                socket : null
            }
        },
        created() {
            this.$store.dispatch('setAuthUserDataAction');
            this.$store.dispatch('setProfileIdAction', this.userId);
            this.countNotification();
        },
        computed: {
            count(){
                return this.$store.getters.count;
            }
        },
        methods:{
            countNotification() {
                this.$store.dispatch('actionNotificationCount')
            },
            logout() {
                document.getElementById('logout-form').submit();
            },
            openSearch() {
                document.getElementById("myOverlay").style.display = "block";
            },
            closeSearch() {
                document.getElementById("myOverlay").style.display = "none";
            },
            searchFind() {
              //alert(this.search)
                this.closeSearch();
                if(location.pathname.includes('/search')){
                    // we are currently on search page
                    fetchSearch(this.search)
                } else {
                    this.$router.push({
                        name : 'Search',
                        params: { key: this.search }
                    })
                }

            }
        },
        mounted() {
            this.socket = io.connect(this.SOCKET_NAME);
            this.socket.on('update-message' + this.auth.id , data => {
                if (this.auth.id != data.from) {
                    this.$store.dispatch('increaseCount');
                }
            })

            this.socket.on('friendRequest-' + this.auth.id , data => {
                if (this.auth.id == data.to) {
                    this.$store.dispatch('increaseCount');
                }
            })
        }
    }
</script>

<style scoped>
  .notification {
    position: relative;
  }
  #notification-number {
    position: absolute;
    top: 4px;
    right: 8px;
    padding: 0px 5px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 10px;
  }
</style>
