<template>
    <div class="right_chat_box" v-if="chatFriendLists && chatFriendLists.length">
        <ul :class="expandChatBox?'chat_llst toogle_chat':'chat_llst'">
            <h2><b>Chat</b>
                <span class="close_toogle_icon" @click="expandChatBox=!expandChatBox">
                        <img :src="APP_URL+'/images/close.png'" alt="">
                    </span>
                <!-- <span><i class="far fa-sun"></i></span> -->
            </h2>
            <template v-for="(friend, key) in chatFriendLists">
                <li :class="{'active':friend.online}" :key="key">
                    <a @click="activeChatting(key)">
                        <img :src="friend.avater">
                        <span>{{friend.name}}</span>
                    </a>
                </li>
            </template>
        </ul>
        <ul class="chat_bottom_list">
            <!-- <li>
                <a href="#">
                    <img :src="APP_URL+'/images/chat-ic2.png'" alt="">
                </a>
            </li> -->
            <li>
                <router-link :to="{name:'Chatting Page'}">
                    <img :src="APP_URL+'/images/chat-ic.png'" alt="">
                </router-link>
            </li>
        </ul>
        <small-chat v-if="activeFriend && activeFriend.id"
                    @closeChat="closeMessage"
                    :friend="activeFriend">
        </small-chat>
    </div>
</template>

<script>
    import SmallChat from "./SmallChat";
    export default {
        components: {SmallChat},
        data() {
            return {
                activeFriend: {},
                auth: window.auth,
                activeChatIndex: 0,
                expandChatBox: false,
                APP_URL: window.APP_URL,
                SOCKET_NAME: window.SOCKET_NAME,
                socket : null
            }
        },
        methods: {
            activeChatting(index) {
                this.activeChatIndex = index;
                this.activeFriend = this.chatFriendLists[index];
            },
            closeMessage() {
                this.activeFriend = {}
            }
        },
        computed: {
            friendLists() {
                return this.$store.getters.friends;
            },
            chatFriendLists() {
                if (this.$store.getters.chatFriends.length)
                    return this.$store.getters.chatFriends;
                else
                    return this.friendLists;
            },
        },
        mounted() {

            this.socket = io.connect(this.SOCKET_NAME);
            this.socket.on('update-message' + this.auth.id , data => {

              let index = -1;
              if (this.auth.id == data.from) {
                index =  this.friendLists.map(function(e) { return e.id; }).indexOf(data.to);
              } else {
                index =  this.friendLists.map(function(e) { return e.id; }).indexOf(data.from);
              }
              this.activeChatting(index);
            })

            if (!this.chatFriendLists.length)
                this.$store.dispatch('chatFriendLists');

            if (!this.friendLists.length)
                this.$store.dispatch('friendLists');
        }
    }
</script>

<style scoped>

</style>
