<template>
    <div class="connection_main_content">
        <navigation class="nav nav-tabs" id="nav-tab" role="tablist"/>
        <div class="tab-content" id="nav-tab2Content">
            <div class="tab-pane fade show active" id="nav-Find" role="tabpanel" aria-labelledby="nav-Find-tab">
                <div class="connection_form_inner">
                    <div class="col-md-12">
                        <div class="row custom_connection_form">
                            <form @submit.prevent="searchPrograms">
                                <div class="row">

                                  <div class="col-sm-12">
                                    <h2>What program you are interested in?</h2>
                                  </div>

                                  <div class="col-sm-6">
                                    <div class="form-group Common_form_group">
                                      <label for=""> Name </label>
                                      <input type="text" class="form-control"
                                             v-model="find.title" name="title" placeholder="Any">
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group Common_form_group">
                                      <label for="">Distance</label>
                                      <input v-model="find.distance"
                                             type="text"
                                             class="form-control"
                                             placeholder="Distance e.g 10 mi">
                                    </div>
                                  </div>

                                  <template v-if="roleId===studentRole">

                                    <div class="col-sm-12">
                                      <div class="form-group Common_form_group">
                                        <label for="">Price Range {{  abbreviateNumber(find.range[0]) }} - {{  abbreviateNumber(find.range[1]) }} </label>

                                        <vue-slider
                                          v-bind="slideroptions"
                                          v-model="find.range">

                                        </vue-slider>
                                        <!-- <input v-model="find.range"
                                               type="text"
                                               class="form-control"
                                               placeholder=" e.g. $0-$10,000,000"> -->
                                      </div>
                                    </div>
                                  </template>

                                    <div class="col-sm-12">
                                        <h2>What school do you have in mind?</h2>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group Common_form_group has_error">
                                          <label for=""> Name </label>
                                            <input type="text" class="form-control"
                                                   v-model="find.institute"
                                                   placeholder="Any">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                      <div class="form-group Common_form_group has_error">
                                        <label class="mr-3" for=""> Locality </label>
                                        <br>
                                        <input type="radio" checked  @change="international = 1" value="1" v-model="find.locality" name="locality" id="internationa">
                                        <label for="internationa" >International</label>
                                        <input style="margin-left: 70px;" @change="international = 0" value="2" v-model="find.locality" type="radio" name="locality" id="local">
                                        <label for="local">Local</label>
                                      </div>
                                    </div>

                                  <div v-if="international == 1" class="col-md-12">
                                        <location-form ref="refLocation"></location-form>
                                    </div>

                                  <div v-if="international == 1" class="col-sm-6">
                                    <h2>Are you looking for scholarship?
                                      <div class="form-group radio_button radio_button_inline">
                                        <input type="radio"
                                               value="true"
                                               id="radio3"
                                               v-model="find.scholarship"
                                               name="scholarship">
                                        <label for="radio3">Yes</label>
                                      </div>

                                      <div class="form-group radio_button radio_button_inline">
                                        <input type="radio" value="false"
                                               v-model="find.scholarship"
                                               id="radio4"
                                               name="scholarship">
                                        <label for="radio4">No</label>
                                      </div>
                                    </h2>
                                  </div>

                                  <template v-if="roleId===schoolRole">
                                        <div class="col-sm-6">
                                            <div class="form-group Common_form_group">
                                                <select v-model="find.department" name="department"
                                                        class="form-control">
                                                    <option value="" selected>All department</option>
                                                    <option v-for="department  in departments" :value="department.id" :key="department.id">
                                                        {{department.title}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group Common_form_group">
                                                <select v-model="find.role" name="role" class="form-control">
                                                    <option value="" selected>All role</option>
                                                    <option v-for="role  in roles" :value="role.id" :key="role.id">{{role.title}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </template>

                                  <div class="col-sm-6">
                                        <div class="button_submit float-right">
                                            <button v-if="!loading" class="form_submit" type="submit">Search</button>
                                            <button v-if="loading">
                                                <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="institutes.length">
            <p class="find_search_result" v-if="pagination.total">About {{pagination.total}} results</p>

            <div class="row">
                <template v-for="(inst, key) in institutes">
                    <div class="col-sm-6 connection_program" :key="key">
                        <div class="connection_program_inner">
                            <div class="row">
                                <div class="col-3">
                                    <router-link :to="{ name: 'userPublicProfile', params: { userName: inst.user_name }}" target="_blank">
                                        <img :src="inst.avater" alt="">
                                    </router-link><br>

                                    <a href="#" v-if="invited[inst.id]" class="active connect-btn">Invite Sent</a>
                                    <a href="#" v-else-if="inst.friendship" class="active connect-btn">Invite Sent</a>
                                    <a v-else href="#" class="connect-btn" @click="sendInvitation(inst)">Connect</a>
                                </div>

                                <div class="col-9">
                                    <template v-if="inst.institute">
                                        <strong>
                                          <router-link :to="{ name: 'userPublicProfile', params: { userName: inst.user_name }}" target="_blank">
                                              <h5>{{ strLimit(inst.institute.title, 100)}}</h5>
                                          </router-link>
                                        </strong>
                                    </template>
                                    <template v-else><strong>{{inst.name}}<br></strong></template>

                                    <div v-if="inst.address">
                                        <template v-if="inst.address[0]">
                                            {{inst.address[0].city}}
                                            <span v-if="inst.address[0].country"> , {{inst.address[0].country.title}} </span>
                                        </template>
                                    </div>
                                    <hr>

                                    <!-- <template v-if="inst.institute">
                                        <p v-if="inst.institute.program">{{inst.institute.program[0].title}}</p>
                                        <p v-if="inst.institute.program">{{inst.institute.program[0].description}}</p>
                                        <p v-if="inst.institute.program" class="program_date">Admission Date: {{inst.institute.program[0].admission_date}}</p>
                                    </template> -->

                                    <template v-if="inst.institute">
                                        <p v-if="inst.institute.programs">
                                          <template v-if="inst.institute.programs[0]">
                                              <strong>{{strLimit(inst.institute.programs[0].title, 40)}}</strong><br>
                                              <span  style="display:inline-block;text-transform: capitalize;" v-if="inst.institute.programs">
                                                  University
                                                  <!-- <template v-if="inst.institute.programs[0]" v-for="degree in inst.institute.programs[0].education_levels">
                                                  {{ degree.title }}<br>
                                                  </template> -->
                                                </span><br>
                                              <span class="program_date" v-if="inst.institute.programs[0].admission_date">
                                                  Admission Date: {{dateFormat(inst.institute.programs[0].admission_date)}}
                                              </span>
                                          </template>
                                        </p>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <pagination  :pagination_data="pagination_data"  @paginate="findPrograms" :offset="5"></pagination>
            <!-- New added... -->

            <invitation-message
                :api="sendInvitationURL"
                :item="invitationInstitute"
                model='program'
                @closeInvitationMessage="closeModal"
                @successfullyInvited="successfullyInvited"
                v-if="Object.keys(invitationInstitute).length">
            </invitation-message>
        </template>

        <template v-if="institutes.length===0 && callApi">
            <h4 class="connection_program_inner text-center">No result found</h4>
        </template>
    </div>
</template>

<script>
import Vue from 'vue';
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    // Init plugin
    Vue.use(Loading);



  import VueSlider from 'vue-slider-component'
  import 'vue-slider-component/theme/default.css'




    import Multiselect from 'vue-multiselect';
    import api from "../../config/api";
    import InvitationMessage from "../common/InvitationMessage";
    import Navigation from "./common/Navigation";
    import LocationForm from "./common/LocationForm";

    //import Pagination from "../common/Pagination";
    import Pagination from "./common/FindPagination";
import jsMoment from "moment"; //New added...

    export default {
        components: {LocationForm, Pagination, InvitationMessage, Navigation, VueSlider, Multiselect},
        data() {
            return {
                fullPage: false,
                loading: false,

                slideroptions:{
                  min: 0,
                  max: 250000,
                },
                find: {
                    role: "",
                    department: "",
                    range: [0, 250000],
                    locality: 1,
                },
                international: 1,
                institutes: [],
                invitationInstitute: {},
                pagination: {},
                sendInvitationURL: api.sendInvitation,
                invited: [],
                studentRole: api.STUDENT_ROLE,
                tutorRole: api.TUTOR_ROLE,
                schoolRole: api.SCHOOL_ROLE,
                pagination_data :{},
                callApi: false,
                SI_SYMBOL : ["", "k", "M", "G", "T", "P", "E"],
                location: {
                  region: 4
                },
                locality:'',
            }
        },
        methods: {
          dateFormat(value) {
            return jsMoment(String(value)).format('d-MMM -Y');
          },
            abbreviateNumber(number){
                // what tier? (determines SI symbol)
                let tier = Math.log10(number) / 3 | 0;

                // if zero, we don't need a suffix
                if(tier == 0) return number;

                // get suffix and determine scale
                let suffix = this.SI_SYMBOL[tier];
                let scale = Math.pow(10, tier * 3);

                // scale the number
                let scaled = number / scale;

                // format number and add suffix
                return scaled.toFixed(1) + suffix;
            },
            sendInvitation(inst) {
                this.invitationInstitute = inst;
            },

            searchPrograms() {
                this.pagination_data.current_page = 1;
                this.findPrograms();
            },

            findPrograms(page = 1) {
                let loader = this.$loading.show({   //adding loader to every search
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  canCancel: true,
                  onCancel: this.onCancel,
                });
                if (this.$refs.refLocation) {
                     _.forEach(this.$refs.refLocation.location, (value, key) => {
                        this.find[key] = '';
                        if (value)
                            this.find[key] = value;
                    });
                }


                if(isNaN(page))
                    page = 1;

                //New added...
                page = this.pagination_data.current_page;
              console.log(this.readyFilter())

                axios.get(api.findInstitute + "?page="+ page + '&' + this.readyFilter()).then(res => {
                    this.loading = false;
                    this.callApi = true;
                    this.institutes = res.data.data;
                    this.pagination_data = res.data;
                    loader.hide();
                });
            },

            readyFilter() {
                let query = '';

                _.forEach(this.find, (value, key) => {
                    if (value) {
                        query += key + '=' + value + '&';
                    }
                });

                return query;
                //return Object.keys(this.find).map(key => this.find[key]?key + '=' + this.find[key]:'').join('&');
            },
            closeModal() {
                this.invitationInstitute = {};
            },
            successfullyInvited() {
                this.$set(this.invited, this.invitationInstitute.id, true)
            },
            strLimit(input, limit = 15) {
                return input.length > limit ? input.substring(0, limit) + '...' : input;
            },
            degreeShow(degrees) {
              var texts = '';
              if (degrees.includes('[')) {
                var objects = JSON.parse(degrees);
                if (objects.length > 0) {
                  texts = objects.join('<br>');
                  texts = texts.replace(/-/g, ' ');
                  return texts;
                }
                return '';
              }
              texts = degrees.replace(/-/g, ' ');
              return texts;
            },
        },
        computed: {
            roleId() {
                return this.$store.getters.roleId;
            },

            departments() {
                if (this.roleId === this.schoolRole) {
                    return this.$store.getters.departments;
                }
            },

            roles() {
                if (this.roleId === this.schoolRole) {
                    return this.$store.getters.instituteRoles;
                }

            }
        },
        mounted() {
            if (this.roleId === this.schoolRole) {
                this.$store.dispatch('setDepartmentAction');
                this.$store.dispatch('setInstituteRoleAction');
            }
          console.log(this.international);
        }

    }
</script>

<style scoped>
.slider {
  /* overwrite slider styles */
  width: 200px;
}
</style>

<style>
.vue-slider-process{
    z-index: 0 !important;
}
.vue-slider-dot{
    z-index: 0 !important;
}
</style>
