<template>
    <div class="custom_Connection_area list_connection_area">

        <h2>Pending Requests ({{invitations.length}})
            <!--<template v-if="invitations.length">
                <button @click="ignoreAllRequest">Ignore All</button>
            </template>-->
        </h2>

        <template v-if="invitations.length">
            <template v-for="(invitation, key) in invitations">
                <single-pending-request :invitation="invitation"></single-pending-request>
            </template>
            <pagination v-if="pagination.length>0" :pagination="pagination" @paginate="invitationList()"></pagination>
        </template>

        <template v-if="!invitations.length && pagination.total===0">
            <h3 class="text-center p-40">No invitation found</h3>
        </template>

    </div>
</template>

<script>
    import Navigation from "./common/Navigation";
    import Pagination from "../common/Pagination";
    import api from "../../config/api";
    import SinglePendingRequest from "./common/SinglePendingRequest";

    export default {
        components: {SinglePendingRequest, Pagination, Navigation},
        data() {
            return {
                invitations: [],
                pagination: {current_page: 1},
                auth: window.auth,
            }
        },
        created() {
            this.invitationList();
        },
        methods: {
            invitationList() {
                axios.get(api.pendingRequestList).then(res => {
                    this.invitations = res.data.data;
                    this.pagination = res.data;
                    this.pagination.data = undefined;
                })
            },
            ignoreAllRequest() {
                axios.patch(api.cancelAllInvitationRequest).then(res => {
                    _.forEach(this.invitations, (value, key) => {
                        this.$set(this.invitations[key], 'cancel', true)
                    })
                });
            }
        }
    }
</script>

