<template>
    <transition name="fade">
        <div class='ielts_tofel_score'>

            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :min-width="320"
                    width="60%"
                    name="ielts_modal">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            Update Ielts/Tofel info
                        </div>
                        <div class="float-right">
                            <i @click="close_ielts_modal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body popup_form'>
                        <div class='row'>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label for='exam_level' class='col-4 col-form-label text-md-right'>Exam</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <multiselect
                                                id="exam_level"
                                                v-model="ielts.exam_level"
                                                :options="ieltsExamLevels"
                                                placeholder="Select one"
                                                tag-placeholder="append"
                                                label="title"
                                                :show-labels="false"
                                                track-by="title"
                                                :taggable="true"
                                                @tag="addNewIeltsExamLevel"
                                        >
                                        </multiselect>
                                    </div>
                                </div>
                                <div class='form-group row'>
                                    <label for='score' class='col-4 col-form-label text-md-right'>score</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <input type='text'
                                               class='form-control'
                                               v-model="ielts.score"
                                               v-validate="'digits:2'"
                                               name='score'
                                               id='score'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('score')">{{ errors.first('score') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label for='taken_on' class='col-5 col-form-label text-md-right'>taken on</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <input type='date' class='form-control' v-model="ielts.taken_on" name='taken_on'
                                               id='taken_on'/>
                                    </div>
                                </div>
                                <div class='form-group row'>
                                    <label for='ielts_grade' class='col-5 col-form-label text-md-right'>grade</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <input type='text' class='form-control' v-model="ielts.grade" name='ielts_grade'
                                               id='ielts_grade'/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end mt-3">
                                    <button v-if="!loading" class="btn btn-warning mr-3" @click="resetForm">
                                        Reset
                                    </button>
                                    <button v-if="!loading" class="btn btn-primary" @click="edit_or_post">
                                        Save
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </modal>


            <div class='card'>
                <div class='card-header'>
                    Ielts and Tofel score
                </div>
                <div class='card-body'>
                    <div v-if="isEditable" class='d-flex justify-content-end mb-4'>
                        <button @click="open_ielts_modal" class="btn btn-primary"><i class='fa fa-plus'></i></button>
                    </div>
                    <div v-if="ielts_collection.length" class='table-responsive'>
                        <table class="table table-bordered">
                            <tr>
                                <th>Exam</th>
                                <th>Taken on</th>
                                <th>Score</th>
                                <th>Grade</th>
                                <th v-if="isEditable">Action</th>
                            </tr>
                            <tr v-for="item in ielts_collection">
                                <td>{{item.exam_level.title}}</td>
                                <td>{{item.taken_on}}</td>
                                <td>{{item.score}}</td>
                                <td>{{item.grade}}</td>
                                <td v-if="isEditable">
                                    <button @click="edit_ielts_item(item.id)" class="btn btn-primary"><i
                                            class='fas fa-pencil-alt'></i></button>
                                    <button @click="delete_ielts_item(item.id)" class="btn btn-warning"><i
                                            class='fa fa-trash'></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <p v-if="!ielts_collection.length">No Ielts or Tofel record found</p>
                </div>
            </div>
            <!-- /.card- -->
        </div>
    </transition>
</template>
<script>
    import Multiselect from 'vue-multiselect'
    import api from "../../config/api";

    export default {
        components: {Multiselect},
        data() {
            let empty_model = {
                exam_level: '',
                score: '',
                taken_on: '',
                grade: '',
            }
            return {
                empty_model,
                ielts: {...empty_model},
                ielts_collection: [],
                edit_mode: false,
                edit_id: '',
                loading: false,
                success: false,
                error: false,
                formErrors: {}
            }
        },
        methods: {
            check_form_error(key) {
                if (!this.ielts[key]) {
                    this.formErrors = {
                        ...this.formErrors,
                        [key]: true,
                    }
                    return true;
                } else {
                    this.formErrors = {
                        ...this.formErrors,
                        [key]: false,
                    }
                    return false;
                }
            },
            edit_or_post() {
                if (this.check_form_error('exam_level')) {
                    return;
                }
                this.loading = true;
                if (this.edit_mode) {
                    this.update_ielts_item();
                } else {
                    this.post_ielts_details();
                }
            },
            get_ielts_details() {
                axios.get(api.ielts +'/'+ this.$store.getters.profile_id).then(response => {
                    this.ielts_collection = response.data;
                })
            },
            post_ielts_details() {
                this.ielts.ielts_exam_level_id = this.ielts.exam_level.id;
                axios.post(api.ielts, this.ielts).then(response => {
                    this.loading = false;
                    this.resetForm();
                    this.get_ielts_details();
                    if (response.data.error) {
                        this.error = true;
                    } else {
                        this.success = true;
                        this.close_ielts_modal();
                    }
                }).catch(error=>{
                    this.loading = false;
                })

            },
            update_ielts_item() {
                this.ielts.ielts_exam_level_id = this.ielts.exam_level.id;
                axios.put(api.ielts +'/'+ this.edit_id, this.ielts).then(response => {
                    this.loading = false;
                    this.edit_mode = false;
                    this.resetForm();
                    this.get_ielts_details();
                    if (response.data.error) {
                        this.error = true;
                    } else {
                        this.success = true;
                        this.close_ielts_modal();
                    }
                }).catch(error=>{
                    this.loading = false;
                })
            },
            resetForm() {
                this.ielts = {...this.empty_model}
                this.edit_mode = false
                this.formErrors = {}
                this.open_ielts_modal();
            },

            open_ielts_modal() {
                this.$modal.show('ielts_modal')
            },
            close_ielts_modal() {
                this.$modal.hide('ielts_modal')
            },
            edit_ielts_item(id) {
                let ielts = this.ielts_collection.find(ielts => ielts.id === id);
                this.ielts = {...ielts};
                this.edit_mode = true;
                this.edit_id = ielts.id;
                this.open_ielts_modal();
            },
            delete_ielts_item(id) {
                axios.delete(api.ielts +'/'+ id).then(response => {
                    this.get_ielts_details();
                })
            },
            addNewIeltsExamLevel(ieltsExamLevel) {
                this.$store.dispatch('addNewIeltsExamLevelAction', {title: ieltsExamLevel})
            }
        },
        mounted() {
            this.get_ielts_details();
            this.$store.dispatch('setIeltsExamLevelAction')
        },
        computed: {
            isEditable() {
                return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
            },
            ieltsExamLevels() {
                return this.$store.getters.ieltsExamLevels;
            }
        },
    }
</script>
