<template>
  <div class="inner-content">
    <div class="school-detail" v-if="userData != null">
      <div class="s-logo" :style="{'background-image': 'url('+userData.avater+')'}"></div>
      <div class="s-name" v-if="userData.institute">{{userData.institute.title}}</div>
      <div class="s-name" v-if="userData.role_id === 2">{{userData.name}}</div>
      <div class="s-location" v-if="userData.institute">
        <img class="s-l-logo" src="" alt="">
        <div class="s-l-name">
                <span v-if="userData.school_address && userData.school_address.length">{{userData.school_address[0].city}}, {{(userData.school_address[0].state) ?userData.school_address[0].state.title+',':''}} {{(userData.school_address[0].country) ?userData.school_address[0].country.title:''}}
                </span>
        </div>
      </div>
      <ul class="s-option">
        <li class="s-e-option">
          <a href="#" class="active"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
        </li>
        <li class="s-e-option">
          <a href="#">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </a>
        </li>
        <li class="s-e-option">
          <a href="#" class="active">
            <i class="fas fa-dollar-sign"></i>
          </a>
        </li>
        <li class="s-e-option">
          <a href="#">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </li>
        <li class="s-e-option">
          <a href="#" class="active">
            <i class="fa fa-home" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <div class="divider"></div>
      <div class="s-info" v-if="userData.institute">
        <i class="fa fa-certificate i-logo"></i><span class="mrc-5">Founded</span> <span
        class="text-ash" v-text="userData.institute.founded"></span>
      </div>
      <div class="s-info" v-if="userData.institute">
        <i class="fa fa-university i-logo"></i><span class="mrc-5">Type</span> 
        <span class="text-ash"> University</span>
        <!-- <span class="text-ash"> {{ (userData.institute.education_level)?userData.institute.education_level.title:''}}</span> -->
      </div>
      <div class="s-info" v-if="userData.institute">
        <i class="fa fa-users i-logo"></i><span class="mrc-5">Total Students</span> <span
        class="text-ash">{{totalStudent(userData.institute.total_students)}}</span>
      </div>
    </div>
  </div>
</template>

<script>
  import api from "../../config/api";

  export default {
    name: "PublicProfileLeftSidebar",
    data() {
      return {
        userData: null,
      }
    },
    created() {
      this.userDetails();
    },
    methods: {
      userDetails() {
        axios.get(api.userPublicProfile + this.$route.params.userName)
          .then(res => {
            this.userData = res.data;
          })
      },
      totalStudent(total) {
        if (total > 0) {
          let number = total.toString();
          if (number.length >= 4) {
            let k = number / 1000;
            k = k + 'k';
            return k;
          } else {
            return total
          }
        } else {
          return '-';
        }
      }
    }
  }
</script>

<style scoped>
  .school-detail {
    width: 100%;
    display: table;
    border: 1px solid #dbdbdb;
    background-color: #fcfcfc;
    padding: 12px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }
  .school-detail .s-logo {
    position: absolute;
    top: -61px;
    left: calc(50% - 50px);
    z-index: 2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    text-align: center;
    display: table;
    background-color: #f17b16;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
